@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
*{
    outline: none;
    transition: all .3s;
    -webkit-tap-highlight-color: transparent;
}

.light-mode {
background-image: 
    linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px),
    radial-gradient(circle 600px at 0% 200px, #d5c5ff, transparent),
    radial-gradient(circle 600px at 100% 200px, #d5c5ff, transparent);
background-size: 20px 20px, 20px 20px, 100% 100%, 100% 100%;
}
.dark-mode {
background-color: #0d0d12;
background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    radial-gradient(circle 600px at 0% 200px, rgba(120, 80, 255, 0.25), transparent),
    radial-gradient(circle 600px at 100% 200px, rgba(120, 80, 255, 0.25), transparent);
background-size: 20px 20px, 20px 20px, 100% 100%, 100% 100%;
}